[scripts]
test = "pytest . -vv"
start = "python main.py dev 127.0.0.1"
docker = "python main.py docker 0.0.0.0"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
uvicorn = "*"
pytest = "*"
httpx = "*"
requests = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.12"
