<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='css/index.css')}}">
    <title>To Do</title>
</head>

<body>
    <header>
        Header
    </header>
    <main>
        <p>Welcome to this amazing Admin page.</p>
        <p>Click <a href="/index">here</a> to go back to the index page</p>
    </main>
    <footer>
        Footer
    </footer>
    <script>
        function getData() {
            const url = "/backend/aleks";
            fetch(url).then(async (res) => {
                if (!res.ok) {
                    throw new Error(`Response statusL ${response.status}`);
                }
                const json = await res.json();
            }).catch((error) => {
                console.error(error.message);

            })
        }

        getData()
    </script>
</body>

</html>