<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', path='css/index.css')}}">
    <title>To Do</title>
</head>

<body>
    <header>
        Header
    </header>
    <main>
        <form class="main-container">
            <div>
                <label for="title">Title</label>
                <input name="title" type="text" placeholder="Clean kitchen" />
            </div>
            <div>
                <label for="desc">Description <span>(optional)</span></label>
                <input name="desc" type="text"
                    placeholder="The cook is dirty, clean the kitchen before the ownwer is here tomorrow at 17:00." />
            </div>
            <div>
                <label for="complete">Complete by: <span>(optional)</span></label>
                <input name="complete" type="datetime-local" />
            </div>
        </form>
    </main>
    <footer>
        Footer
    </footer>
    <script>
        function getData() {
            const url = "/backend/aleks";
            fetch(url).then(async (res) => {
                if (!res.ok) {
                    throw new Error(`Response statusL ${response.status}`);
                }
                const json = await res.json();
            }).catch((error) => {
                console.error(error.message);

            })
        }

        <!-- getData() -->
    </script>
</body>

</html>